# OS
.DS_Store
Thumbs.db
*.swp

# IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Java & Maven
**/target/
build/
mvnw
mvnw.cmd
.mvn/
!.mvn/wrapper/maven-wrapper.jar

# Local database and logs
aids-spring/aids.db
*.log
*.sqlite

# Data and Scripts
data/
*.xlsx
*.sh
*.conf
Dockerfile
